---
layout: default
weight: 1
title: "Home"
body: events
---

<ul class="content__list">

	<li class="content__list-item"><h2 class="h2">Events</h2></li>

	{% for event in site.data.events %}

		<li class="module content__list-item{% if forloop.last == true %} last{% endif %}" id="NWSpoCo-Event-{{ forloop.index }}">

			{% comment %}
				{% include calendar.html event=event %}
			{% endcomment %}

			{% capture hrs %}{{ event.dt | date: "%H" | times: 1 }}{% endcapture %}

			{% assign hrs = hrs | times: 1 %}

			{% assign event_num = forloop.index %}

			<div class="content__details">
				<span class="content__list-field event">Event: {{ event_num }}</span>
				<span class="content__list-field date-wrapper">Date: <time class="content__time{% if hrs > 17 %} evening{% else %} daytime{% endif %}" datetime="{{ event.dt | date_to_xmlschema }}">{{ event.dt | date: "%A, %-d %B" }}, {{ event.dt | date: "%H:%M" }}</time></span>
				<span class="content__list-field course">Course: <a href="{{ event.course_url }}" title="View this course on the Timetrial Courses website">{{ event.course }}</a></span>
				<span class="content__list-field distance">Distance: {{ event.distance }}</span>
				<span class="content__list-field elevation_gain">Elevation gain: {{ event.elevation_gain }}</span>
				<span class="content__list-field club">Club: <a href="{{ event.club_web }}">{{ event.club }}</a></span>
				{% comment %}<span class="content__list-field contact">Contact: {% if event.contact_ema != null %}<a href="mailto:{{ event.contact_ema }}">{{ event.contact }}</a>{% else %}{{ event.contact }}{% endif %}</span>{% endcomment %}
				{% comment %}<span class="content__list-field contact dont-break-out">Website: <a href="{{ event.web }}">{{ event.web }}</a></span>{% endcomment %}
				{% for ctt in event.ctt_event %}
					<span class="content__list-field contact dont-break-out">CTT Event: <a href="{{ ctt.url }}">{{ ctt.url }}</a></span>
				{% endfor %}
				<a href="{{ event.course_url }}" title="View this course on the Timetrial Courses website">
					<picture class="content__list-img">
						<img src="img/courses/{{ event.img }}" alt="{{ event.course }}" />
					</picture>
				</a>
			</div>

			{% include social-media.html event=event index=event_num %}

		</li>

	{% endfor %}

</ul>

