<ul class="events__about">
	<li class="h3 events__about-title">About SpoCo NW</li>
	<li class="events__about-item">The SpoCo North West Time Trial league is a season-long competition to help encourage participation in, and the promotion of, <span class="ita">Sporting Courses</span>, in cycling time trials. The events are typically run over non-standard distances and across the varying geography and terrain of the Manchester and surrounding districts. Riders will be allocated points based on their finishing positions and league tables will be produced and posted on the website as soon as possible following each event.</li>
	<li class="events__about-item"><a href="/sponsors_prizes/">Series Winners' jersey</a> kindly designed and donated by <a href="http://www.onimpex.co.uk/"><span class="nowrap">OMNIPEX-BIORACER UK</span></a></li>
	<li class="events__about-item">Please contact <a href="mailto:{{ site.email }}">the organiser</a> if you are a Club, or collaboration of Clubs, interested in promoting an event to add to the Series in 2017.</li>
</ul>


