{% capture url %}{{ site.url }}#NWSpoCo-Event-{{ include.index }}{% endcapture %}

{% assign fb_url = url | uri_escape %}

{% assign tw_intent = "https://twitter.com/intent/tweet" %}

{% capture query_string %}{{ tw_intent }}?url={{ url }}&text={{ include.event.club }} SpoCo, {{ include.event.date | date_to_string }}: {% endcapture %}

{% assign query_string = query_string | uri_escape %}

<div class="events__social-media">
	<span class="events__share-item">
		<a class="share-link" href="{{ query_string }}" rel="nofollow" target="_blank"><span class="icon-twitter3"></span> Share on Twitter</a> 
	</span>
	<span class="events__share-item">
		<a class="share-link" href="http://www.facebook.com/sharer.php?u={{ fb_url }}" rel="nofollow" target="_blank"><span class="icon-facebook3"></span> Share on Facebook</a>
	</span>
</div>