html, body {
	margin: 0;
	padding: 0;
}

body {
	background: $bg;
	border-top: solid 10px $primary;
	font-size: 16px;
	&:before {
		background-color: $secondary;
		content: ' ';
		display: block;
		height: 10px;
		left: 0;
		position: absolute;
		top: 10px;
		width: 100%;
	}
}

main {
	margin: 0 auto;
	max-width: 1200px;
	padding-bottom: 80px;
	padding-bottom: 20vh;
	padding-top: 40px;
}

.events main {
	padding-top: 0;
}

.fig {
	@extend .clearfix;
	margin-top: 2%;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding-bottom: 0;
	padding-left: 16%;
	padding-right: 16%;
	padding-top: 0;
	&__picture {
		@include mq-min(small) {
			float: left;
			margin-left: 10px;
			width: calc(50% - 5px);
			&:first-child {
				margin-left: 0;
			}
		}
	}
	&__img {
		height: auto;
		min-width: 100%;
		width: 100%;
	}
	&--alt {
		height: auto;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		width: 240px;
	}
}

/* Style external links */

// a[href^="http://"]:not([href*="0.0.0.0"]):after,
// a[href^="https://"]:not([href*="0.0.0.0"]):after, 
// a[href^="//"]:not([href*="0.0.0.0"]):after, {
//     font-family: 'SpoCoNW' !important;
//     speak: none;
//     font-style: normal;
//     font-weight: normal;
//     font-variant: normal;
//     text-transform: none;
//     line-height: 1;
//     margin-left: .125em;
//     content: "\e906";
// }

// a[href^="http://www.cyclingtimetrials.org.uk"]:after,
// a[href^="https://www.cyclingtimetrials.org.uk"]:after {
//     font-family: 'SpoCoNW' !important;
//     speak: none;
//     font-style: normal;
//     font-weight: normal;
//     font-variant: normal;
//     text-transform: none;
//     line-height: 1;
//     content: " \e904";
// }

.course a:after {
	font-family: 'SpoCoNW' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	content: "\00a0\e904";
}