.nav {

	// reverse order of child elems, so we can use general sibling seletcor
	// to appear to select preceeding sibling, so we can hide the menu__open
	// button when not in use, but use display fixed at all other times
    direction: rtl;

    &__menu {

		background-image: none !important;
		background: $primary;
		bottom: 100%;
		display: block;
		height: 100%; /* iOS position:fixed; elements fix (not 100%) */
		min-height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		padding-bottom: 0;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 0;
		position: fixed;
		right: 0;
		text-align: center;
		top: 0;
		-webkit-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		transform: translateX(-100%);
		transition: 250ms transform cubic-bezier(0, 0, .58, 1);
		width: 100%;

        &--hide {
			-webkit-transform: translateX(-100%);
			-ms-transform: translateX(-100%);
			transform: translateX(-100%);
        }

        &--show {
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
        }

    }

    &__list {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-padding-start: 0;
        margin: 14% auto auto auto;
        margin: 14vh auto auto auto;
        padding-left: 1.2em;
        text-align: center;
        width: 65%;
    }

    &__open,
    &__close {
        &:link,
        &:visited {
            color: darken($secondary,10%);
            text-decoration: none;
        };
        &:hover,
        &:active,
        &:focus {
            color: darken($primary,10%);
        }
    }

    &__open {
        border-bottom: none !important;
        font-size: 2.2em;
        position: fixed;
        right: 30px;
        &:visited,
        &:focus {
            border-bottom: none !important;
        }
    }

    &__open:after {
        content: 'Info';
        display: block;
        font-size: 10pt;
        margin-left: 24px;
        position: relative;
        top: -10px;
    }

    &__menu--show ~ &__open { // hide the open button when not in use
        display: none;
    }

    &__close {
        border-bottom: none !important;
        font-size: 1.8em;
        position: absolute;
        right: 34px;
        top: 37px;
        &:visited,
        &:focus {
            border-bottom: none !important;
        }
    }

    &__menu--hide > &__close { // hide the open button when not in use
        display: none;
    }

    @include mq-min(small) {
        &__open {
            font-size: 4em;
            right: 60px;
            &:after {
                font-size: 12pt;
                margin-left: 28px;
                top: -20px;
            }
        }
        &__close {
            font-size: 3em;
            right: 58px;
            top: 58px;
            &:after {
                font-size: 12pt;
                margin-left: 28px;
                top: -20px;
            }
        }
    }

    &__link {

        list-style: none;
        margin: 12px 0;
        margin: 1vh 0;
        padding: 8px;
        position: relative;

        a {
            background: $white;
            border-radius: 6px;
            box-shadow: inset 2px 2px 0 $secondary;
            color: $highlight;
            display: block;
            font-size: .8em;
            font-size: 2vw;
            font-weight: bold;
            line-height: 1.2em;
            padding-bottom: 0.8em;
            padding-left: 0.5em;
            padding-right: 0.5em;
            padding-top: 0.6em;
            text-decoration: none;
            @include mq-min(small) {
            	font-size: 1.2em;
            }
            &:link,
            &:visited,
            &:hover,
            &:active,
            &:focus {
                border-bottom: none;
                padding-bottom: 0.6em;
            }
        }
    }

    @include mq-min(small) {
        &__list {
            margin: 14% auto auto auto;
            margin: 14vh auto auto auto;
        }
        &__link {
            margin: 80px 0;
            margin: 4vh 0;
            padding: 12px;
        }
    }

}
