.text {

	&__list {
		margin-bottom: 0;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 0;
		padding-bottom: 4%;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 0.1em;
		@include mq-min(small) {
			margin-left: 2em;
			margin-right: 2em;
			padding-left: 10%;
			padding-right: 10%;
		}
	}

	&__item {
		line-height: 1.6;
		list-style: none;
		margin-right: 0;
		margin-left: 0;
		margin-top: 4%;
		padding: 0 0 0 0;
		span {
			display: block;
			font-weight: bold;
		}
		a {
			text-decoration: underline;
		}
	}

	p a {
		text-decoration: underline;
	}

}
