// colours

$bg: WhiteSmoke;

$body_copy: #191919;

$primary: rgb(254,0,0);

$secondary: rgb(109,109,109);

$charcoal: darken($secondary, 28%);

$highlight: darken($primary, 32%);

$font-stack: "Roboto Slab", "Lucida Serif", "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

$white: White;

// breakpints

$small: 600px;

$large: 1200px;
