<!doctype html>
<html lang="en">
<head>
    {% include base.html %}
    {% include head.html %}
</head>
{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{ page.body }} {{ layout }}">

    <header class="header">
        {% if "layout-events" == layout %}
            {% include header-home.html %}
            {% include intro.html %}
        {% else %}
            {% include header-default.html %}
        {% endif %}
    </header>

	<main class="content">
		{{ content }}
	</main>

	<footer class="footer">
        {% include contact-form.html %}
	</footer>

	{% include nav.html %}

    {% include footer.html %}

</body>
</html>
