<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ site.name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/main.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{ page.body }} {{ layout }}">

	{% comment %}
		{% include ribbon.html %}
	{% endcomment %}

	<header class="header">
		{% include header-home.html %}
		{% include intro.html %}
	</header>

	<main>
		{{ content }}
	</main>

	<footer class="footer">

	</footer>
	
	{% include nav.html %}
	
    <!--[if lt IE 9]>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <![endif]-->
    <!--[if (gte IE 9) | (!IE)]><!-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/jquery.min.js">\x3C/script>')</script>
    <!--<![endif]-->
    
	<script src="js/site.js"></script>

</body>
</html>
